:root {
  --color-bg-primary: #f5f0e6;    
  --color-bg-secondary: #e8dcc4; 
  --color-surface: #fffdf8; 

  --color-text-main: #3b2c1a;   
  --color-text-light: #7b6a55;  
  --color-heading: #5c3d28;      

  --color-accent-primary: #c47e45; 
  --color-accent-hover: #b46934;   
  --color-accent-secondary: #4c7d7e;
  --color-accent-muted: #b89b63;    
  --color-node-alive: #74825e;    
  --color-node-dead: #a86943;      

  --color-border: #d2bfa3;          
  --color-shadow: rgba(0, 0, 0, 0.08);
  --border-base: #d2bfa3;           
  --border-light: #e8dcc4;           
  --border-dark: #a78c69;        
  --border-accent: #c47e45;          
  --border-muted: #cab99d;          
  --border-error: #a86943;          
  --border-success: #74825e;      
  --border-focus: #ffb84d; 

  --overlay-light: rgba(245, 240, 230, 0.85); 
  --overlay-dark: rgba(40, 30, 20, 0.5);     
  --shadow-xs: 0 1px 2px rgba(0, 0, 0, 0.04);      
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.06);       
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.08);      
  --shadow-lg: 0 6px 12px rgba(0, 0, 0, 0.1);     
  --shadow-xl: 0 10px 20px rgba(0, 0, 0, 0.15);  
  --shadow-inset: inset 0 2px 4px rgba(0, 0, 0, 0.06); 

  --gradient-sand: linear-gradient(135deg, #f5f0e6 0%, #e8dcc4 100%);
  --gradient-paper: linear-gradient(180deg, #fffdf8 0%, #e8dcc4 100%);

  --color-success: #74825e;
  --color-warning: #b89b63;
  --color-error: #a86943;

  --color-scroll-thumb: #d2bfa3;
  --color-selection: #e8dcc4;

  --main-font: "Cairo";

}

.footer {
  background-color: var(--color-accent-muted);
  border: 2px solid var(--border-dark);
  color: var(--color-bg-primary);
  padding: 40px 20px 20px;
  font-family: 'Cairo', sans-serif;
  margin-top: auto;
  direction: ltr;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-column {
  flex: 1;
  min-width: 250px;
}

.footer-column h4 {
  font-size: 20px;
  color: var(--color-heading);
  text-align: center;
  border-bottom: 2px solid var(--color-border);
  padding-bottom: 2px;
  margin-bottom: 15px;
}

.footer-column p,
.footer-column li,
.footer-column a {
  font-size: 15px;
  line-height: 1.8;
  color: var(--color-bg-primary);
  text-align: center;
  list-style: none;
}

.footer-column a {
  text-decoration: none;
  transition: color .3s;
}
.footer-column a:hover {
  color: var(--color-accent-hover);
  background-color: var(--color-bg-primary);
  padding: 4px;
  width: 50%;
  border-radius: 6px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid var(--color-border);
  padding-top: 15px;
  font-size: 14px;
  color: var(--color-bg-primary);
}
footer h4{
  color: var(--color-bg-secondary);
  border-radius: 6px;
}